---
import Layout from '../layouts/Layout.astro';
import MainVueComponent from '../layouts/MainVueComponent.vue';
import data from '../data.js'
---

<Layout title="Fabien - Développeur web">
	<main>
	
		<title>Ma page web</title>

	</main>

	<div class="main-container">
		<MainVueComponent client:only="vue" experiences={data} />
	</div>
</Layout>

<style>
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200&display=swap');
	/* Expérience CONTAINER  */
	* {
		margin: 0;
		padding: 0;
	}


	main {
		max-width: 1300px;
		margin: 0 auto;
	}


	.main-container {
		max-width: 1300px;
		margin: 0 auto;
	}


	/* Header */
	header {

		top: 0;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		color: #fff;
	}
	.fake-header {
		height: 50px;
	}

	/* Fin Header */

	/* Fin Section */


	/* Media Query pour écran moins de 700px */
	@media (max-width: 700px) {
		section {
			flex-direction: column;
			height: 100vh;
		}

		.exp-object {
			width: unset;
		}
	}
   /* Fin Media Query pour moins de 700px */


</style>
